<html lang="en">
{% extends 'Base/base.html' %}
{% load static %}

{% block title %} Register {% endblock %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/loginRegisterUser.css' %}">
    <title>loginRegisterUser</title>
</head>
<body>
   
    <form action="" method="post">
        {%csrf_token%}
        <input type="text" id="username">
        <input type="password" id="password1">
        <input type="password" id="password2">
        <button type="submit">sign up</button>
    </form>



{% block content %}
    <div class="container-fluid p-0" id="authenticate-direct">
        <div id="authenticate-direct-choose" class="h-100 d-flex justify-content-center align-items-center">
            <div class="card p-4" id="authenticate-direct-card">
                <div class="h5 text-center border-bottom p-2">Customer Sign Up</div>       
                <div class="d-flex flex-column">
                    <div class="signup-forms">
                        <input type="text" placeholder="username">
                        <input type="password" placeholder="password"> 
                        <input type="password" placeholder="password">
                    </div>
                    
                    <a class="btn btn-primary w-100"  href="{% url 'LoginRegisterUser' %}">Register</a>
                </div>

            </div>
           
        </div>
    </div>

{% endblock %}

</body>
</html>