<ul class="d-flex justify-content-between align-items-center my-2">
    <li><a href="/">Home</a></li>
    <li><a href="/">Restaurants</a></li>
    <li><a href="/">Services</a></li>
    <li><a href="/">Contact Us</a></li>
    <li><a href="#search"><i class="fa-solid fa-magnifying-glass"></i></a></li>
    <li><a class="btn btn-pill btn-outline-primary login-btn px-4" href="{% url 'authDirect' %}">Login</a>
    </li>
    <li><a class="btn btn-pill btn-primary signup-btn px-4" href="{% url 'authDirect' %}">Signup</a></li>
</ul>